@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: var(--font-plus-jakarta), system-ui, sans-serif;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
